[Unit]
Description=Always ON Fan
After=network.target

[Service]
User=akshansh
WorkingDirectory=/home/akshansh/homeserver/tailscale
ExecStart=/home/akshansh/homeserver/tailscale/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
